<div class="container">

  <div class="row">
    <div class="col-lg-2">
      <h3><%= @product.title %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h5><%= @product.description %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-2">
      <h5><%= number_to_currency(@product.price, :unit => "€") %></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <%= link_to "Back", products_path, class: "btn btn-secondary btn-xs" %>
    </div>
  </div>

</div>